{
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
